// _base.scss

// should only contain styled elements no classes

// Structural Elements

body,html {

}

header, footer {

}

// Typography


body {
 font-size: 18px;
 -webkit-font-smoothing: antialiased;
 font-family: Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
 line-height: 1;
 margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 0.5em;
}

h1 { font-size: 6.5em; }
h2 { font-size: 5em; }
h3 { font-size: 3.5em; }
h4 { font-size: 2em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1em; }

h2 {
	letter-spacing: -2px;
}

h5,
h6 {
	letter-spacing: 0.1em;
	font-weight: 100;
	text-transform: uppercase;
}

p {
	line-height: 1.7;
	margin-bottom: 20px;
}
